[Unit]
Description=My To-Do App

[Service]
WorkingDirectory=/opt/todoapp
ExecStart=/home/ec2-user/.local/bin/poetry gunicorn --bind 0.0.0.0:80 "wsgi:run()"
