[Unit]
Description=My To-Do App

[Service]
WorkingDirectory=/opt/todoapp
ExecStart=/home/ec2-user/.local/bin/poetry run flask run --port=80 --host=0.0.0.0
