{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>To Do Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.to_do_items %}
          <form  method="post" action="{{ url_for('move_item', id=item.id) }}">
            <li>{{ item.name }} - {{ item.status }}
              <input type="submit" action="{{ url_for('move_item', id=item.id) }}" name="Start Item" value="Start Item" method="POST"></input>
            </li>
          </form>
        {% endfor %}
      </ul>

      <h2>Doing Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.doing_items %}
          <form  method="post" action="{{ url_for('move_item', id=item.id) }}">
            <li>{{ item.name }} - {{ item.status }}
              <input type="submit" action="{{ url_for('move_item', id=item.id) }}" name="Complete Item" value="Complete Item" method="POST"></input>
            </li>
          </form>
        {% endfor %}
      </ul>

      <h2>Done Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.done_items %}
          <form  method="post" action="{{ url_for('move_item', id=item.id) }}">
            <li>{{ item.name }} - {{ item.status }}
              <input type="submit" action="{{ url_for('move_item', id=item.id) }}" name="Restart Item" value="Restart Item" method="POST"></input>
            </li>
          </form>
        {% endfor %}
      </ul>
    </div>
  </div>

  <form action="/add" method="post">
    <div>
      <label for="title">Enter the title for your new item: </label>
      <input type="text" name="title" id="title" required>
    </div>
    <div>
      <input type="submit" value="Save">
    </div>
  </form>
{% endblock %}