{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.items %}
          <li> 
            <p> {{ item.name }} - {{ item.status }} </p>
            <form  method = "post" action = "{{ url_for('move_item', id=item.id) }}">
              <button class="btn btn-danger btn-xs" type="submit">Move</button>
            </form>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <form action="/add" method="post">
    <div>
      <label for="title">Enter the title for your new item: </label>
      <input type="text" name="title" id="title" required>
    </div>
    <div>
      <input type="submit" value="Save">
    </div>
  </form>
{% endblock %}